<div class="header_text">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>This is the products page</h1>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div ng-repeat="product in products">
    <p>
      {{product.name}} {{product.description}} {{product.cost}}
    </p>
  </div>

</div>
<!-- <table class="table table-bordered table-striped table-responsive">
<tr>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
</tr>
<tr>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
</tr>
<tr>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
<td>
hello
</td>
</tr>
</table> -->

<!-- <div class="jumbotron">
  <div ng-repeat="card in cards">
    <img ng-src='{{card.image}}'>
  </div>

</div> -->
